/*----------------------------------------------------*/
// Toolbox.
// This has all the classes you need to quickly create styled elements
// Mediaqueries are based on Bootstrap defaults
// Usage: <element class="t-p-30 t-mb-xs-20 ...etc. "></element>
/*----------------------------------------------------*/

/*----------------------------------------------------*/
// Paddings.
/*----------------------------------------------------*/

//general paddings, not breakpoint related
//padding top right bottom left
@for $i from 0 through 20 {
    .t-p-#{$i * 10} {
        padding: #{$i * 10}px;
    }
}

//padding top bottom
@for $i from 0 through 20 {
    .t-ptb-#{$i * 10} {
        padding: #{$i * 10}px 0;
    }
}

//padding < xs
@media (max-width: 767px) {

    //padding top right bottom left
    @for $i from 0 through 20 {
        .t-p-xs-#{$i * 10} {
            padding: #{$i * 10}px;
        }
    }

    //padding top bottom
    @for $i from 0 through 20 {
        .t-ptb-xs-#{$i * 10} {
            padding: #{$i * 10}px 0;
        }
    }
}

//padding > sm
@media (min-width: 768px) {

    //padding top right bottom left
    @for $i from 0 through 20 {
        .t-p-sm-#{$i * 10} {
            padding: #{$i * 10}px;
        }
    }

    //padding top bottom
    @for $i from 0 through 20 {
        .t-ptb-sm-#{$i * 10} {
            padding: #{$i * 10}px 0;
        }
    }
}

//padding > md
@media (min-width: 992px) {

    //padding top right bottom left
    @for $i from 0 through 20 {
        .t-p-md-#{$i * 10} {
            padding: #{$i * 10}px;
        }
    }

    //padding top bottom
    @for $i from 0 through 20 {
        .t-ptb-md-#{$i * 10} {
            padding: #{$i * 10}px 0;
        }
    }
}

//padding > lg
@media (min-width: 1200px) {

    //padding top right bottom left
    @for $i from 0 through 20 {
        .t-p-lg-#{$i * 10} {
            padding: #{$i * 10}px;
        }
    }

    //padding top bottom
    @for $i from 0 through 20 {
        .t-ptb-lg-#{$i * 10} {
            padding: #{$i * 10}px 0;
        }
    }
}

/*----------------------------------------------------*/
// Margins.
/*----------------------------------------------------*/

//general margins, not breakpoint related
//margin bottom
@for $i from 0 through 20 {
    .t-mb-#{$i * 10} {
        margin-bottom: #{$i * 10}px;
    }
}

//margin < xs
@media (max-width: 767px) {

    @for $i from 0 through 20 {
        .t-mb-xs-#{$i * 10} {
            margin-bottom: #{$i * 10}px;
        }
    }
}

//margin > sm
@media (min-width: 768px) {

    @for $i from 0 through 20 {
        .t-mb-sm-#{$i * 10} {
            margin-bottom: #{$i * 10}px;
        }
    }
}

//margin > md
@media (min-width: 992px) {

    @for $i from 0 through 20 {
        .t-mb-md-#{$i * 10} {
            margin-bottom: #{$i * 10}px;
        }
    }
}

//margin > lg
@media (min-width: 1200px) {

    @for $i from 0 through 20 {
        .t-mb-lg-#{$i * 10} {
            margin-bottom: #{$i * 10}px;
        }
    }
}

/*----------------------------------------------------*/
// Resets.
/*----------------------------------------------------*/
.t-m-0 {
    margin-top: 0;
}

/*----------------------------------------------------*/
// Text helpers.
/*----------------------------------------------------*/
.t-t-left {
    text-align: left;
}

.t-t-right {
    text-align: right;
}

.t-t-center {
    text-align: center;
}

.t-t-uc {
    text-transform: uppercase;
}

.t-t-lc {
    text-transform: lowercase;
}

.t-t-nt {
    text-transform: none;
}

.t-t-bold {
    font-weight: bold;
}

.t-t-smaller {
    font-size: smaller;
}

/*----------------------------------------------------*/
// Block helpers.
/*----------------------------------------------------*/
.t-b-b {
    display: block;

    &.-full {
        width: 100%;
    }
}

.t-b-ib {
    display: inline-block;
}

.t-b-rounded {
    border-radius: 50%;
}

.t-b-center {
    margin: 0 auto;
}

//vertical aligned elements
.t-b-vert {
    transform-style: preserve-3d;

    .t-i-vert {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    //disable xs
    &.-dv-xs {
        @media (max-width: 767px) {
            .t-i-vert {
                top: auto;
                transform: none;
                position: relative;
            }
        }
    }

    //disable sm
    &.-dv-sm {
        @media (min-width: 768px) and (max-width: 991px) {
            .t-i-vert {
                top: auto;
                transform: none;
                position: relative;
            }
        }
    }
}

.t-overflow-hidden {
    overflow: hidden;
}

.t-height-auto {
    height: auto;
}

.t-clear {
    clear: both;
}

/*----------------------------------------------------*/
// Element helpers.
/*----------------------------------------------------*/
.t-pos-rel {
    position: relative;
}

.t-pos-abs {
    position: absolute;
}

.no-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/*----------------------------------------------------*/
// Mixins.
/*----------------------------------------------------*/

//calculate rem
//use @include font(18px,30px) to set font-size and line-height in rem with px fallback
@function calculateRem($size) {
    $remSize: $size / 18px;
    @return $remSize * 1rem;
}

@mixin font($size: 18px, $lineheight: 30px) {
    font-size: $size;
    font-size: calculateRem($size);
    line-height: $lineheight;
    line-height: calculateRem($lineheight);
}

/*----------------------------------------------------*/
// General elements.
/*----------------------------------------------------*/
.browserupgrade {
    //needs basic styling
}

/*----------------------------------------------------*/
// Responsively.
/*----------------------------------------------------*/

//repsonsive embeds
.t-embed-responsively {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; }
.t-embed-responsively iframe,
.t-embed-responsively object,
.t-embed-responsively embed,
.t-embed-responsively video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

//responsive images
.t-img-responsive {
    max-width: 100%;

    &.-full {
        width: 100%;
    }
}

/*----------------------------------------------------*/
// Resets and basic settings.
/*----------------------------------------------------*/

//additions to reset.css
* {
    box-sizing: border-box;
    outline: none !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-top: 0;
}

//TODO BETA
//for Bootstrap .row to create equal height columns with flexbox
.-eq-height {
    @media (min-width: 768px) {
        display: flex;

        //TODO needs some better implementaton
        //placed on the child, this stretches contentdiv along with parent height
        .-s-i {
            align-self: stretch;
            width: 100%;
        }
    }
}

//button reset
.btn {
    display: inline-block;
    border: 1px solid;
    padding: 0;
    cursor: pointer;
    background: none;
}
